@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom screen sizes for different devices */
  --breakpoint-xs: 360px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;

  /* Device-specific custom properties */
  --device-folded: 360px;
  --device-mobile: 640px;
  --device-tablet: 768px;
  --device-laptop: 1024px;
  --device-desktop: 1280px;
  --device-large-desktop: 1536px;
  --device-2k: 2560px;
  --device-4k: 3840px;
}

nextjs-portal {
  display: none !important;
}

@media (min-width: 2560px) {
  .bgimage {
    background-size: cover;
  }
}

/* gift box */
@keyframes lid-open {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-120deg);
  }
}
.animate-lid-open {
  animation: lid-open 1s ease-out forwards;
}

@keyframes reveal-image {
  0% {
    opacity: 0;
    transform: translateY(100px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.animate-reveal-image {
  animation: reveal-image 1s ease-out forwards;
}

@keyframes bounce-slight {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}
.animate-bounce-slight {
  animation: bounce-slight 2s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.animate-fade-out {
  animation: fadeOut 1s ease-out forwards;
}
